{% extends 'base.html' %}
{% block title %}about {% endblock title %}
{% block body %}
<div class ="container-fluid px-0">
<img src="https://source.unsplash.com/1600x600/?mobile phone" class ="d-block w-100 my-4" alt="...">
<h2 class ="text-center">Contact us </h3>
</div>

<form method="post" action="/about">
{% csrf_token %}
    <div class ="container px-4">
      <div class="mb-3">
      <div class ="container px-20">
        <label for="email" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <div class ="container px-20">
        <label for="name" class="form-label">Enter your name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="fullname">
      </div>
      <div class="mb-3">
        <div class ="container px-20">
        <label for="phone" class="form-label">Enter your mobile number</label> 
        <input type="phone" class="form-control" id="phone" name ="phone" placeholder="mobile number">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">WHAT suggestin do you want to provide</label>
        <textarea class="form-control" id="desc"  name = "desc" rows="3"></textarea>
      </div>
      </div>
        <button class ="btn btn-primary " type ="submit text-center">Submit</button>
    </form>
</div>
   
{% endblock body %}
